
/*----------------------------------------------------------------------------------------------------*/

/*------------------------------------------ inherit Styles ------------------------------------------*/

/*----------------------------------------------------------------------------------------------------*/

/*Plant iT WebPortal*/

#MainContent {              
    position:relative;      
    overflow:hidden;        
    min-height:250px;       
}

#viewNavigation {           
    overflow:hidden;        
}

#viewContent {              
    overflow:auto; 

}

.viewNavigation {           
    padding:1.2em;          
}

/*Kendo Modification*/

.k-grid-filter.k-state-active {
    /*gesetzter Filter */      
    background-color: orange;  
    opacity: 0.25;             
}

.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list>.k-state-selected, .k-list>.k-state-highlight, .k-panel>.k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
    background-color:#073A73;
    border-color:#073A73;    
}

.k-primary, .k-overflow-container .k-primary, .k-primary:hover, .k-primary {
    border-color:#073A73;                                                   
    background-image:none, linear-gradient(to bottom, #073A73 0, #073A73 100%)
}

.k-button:focus:active:not(.k-state-disabled):not([disabled]) {               
    box-shadow:inset 0 0 3px 4px #e8e8e8;                                     
}

.k-button:active:hover, .k-button.k-state-active:hover {                      
    border:none;                                                              
    background-color:#073A73;                                                 
}

.k-button:focus {                                                             
    outline:0;                                                                
}

.k-primary:focus:active:not(.k-state-disabled):not([disabled]), .k-primary:focus:not(.k-state-disabled):not([disabled]) {          
    box-shadow:none;                                                                                                               
}

.k-button:active, .k-button.k-state-active {                                                                                       
    background-color: #073A73;                                                                                                     
    border:none;                                                                                                                   
}

.k-tabstrip-items .k-state-active, .k-panelbar .k-tabstrip-items .k-state-active, .k-ie7 .k-tabstrip-items .k-state-active .k-loading {
    border-color:#073A73;                                                                                                              
}

.k-tabstrip .k-content.k-state-active {                                                                                                
    border-color:#073A73;                                                                                                              
}

.k-grid-content-locked, .k-grid-content, .k-pager-wrap {              
    overflow:hidden;                                                  
}

.k-grid-header {                                                      
    padding-right:0px !important;                                     
    width:100%;                                                       
}

.k-block, .k-widget, .k-popup, .k-content, .k-toolbar, .k-dropdown .k-input {
    color: #101010;                                                          
}

.k-state-focused.k-state-selected, .k-list>.k-state-focused.k-state-selected, .k-listview>.k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
    -webkit-box-shadow:none;                                                                                                                                      
    box-shadow:none;                                                                                                                                              
}

.k-icon {                                                                    
    outline:none;                                                            
}

colgroupp {
    display: table-column-group;
}

/*----------------------------------------------------------------------------------------------------*/

/*--------------------------------------- page related styles ----------------------------------------*/

/*----------------------------------------------------------------------------------------------------*/

/*Navigation*/

.navigationBar {                                       
    padding-left: 4%;                                  
    height: 60px;                                      
    border-bottom: 3px solid #073A73;                  
    width: 100%;                                       
}

.navigationBar-left {                                  
    text-align: left;                                  
}

.navigationBar-right {                                 
    text-align: right;                                 
}
}
#NavigationBar-left>li, #NavigationBar-right>li {      
    display:inline-block;
    vertical-align:top;
    text-align: center;
}
/*Textarea*/
 .textarea-gridComment {
    width:100%;
    height:100px;
}
/*Buttons*/
 .cancel, .save, .continue {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 3px 11px;
    border: 1px solid #a5a5a5;
    border-radius: 11px;
    background: #b3b3b3;
    background: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#ffffff));
    background: -moz-linear-gradient(top, #b3b3b3, #ffffff);
    background: linear-gradient(to bottom, #b3b3b3, #ffffff);
    text-shadow: #ffffff 1px 0px 2px;
    font: normal 15px arial;
    color: #111111;
    text-decoration: none;
    padding-bottom: 4px;
}

 .validate, .reset {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0px 8px;
  border: 1px solid #a5a5a5;
  border-radius: 11px;
  background: #b3b3b3;
  background: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#ffffff));
  background: -moz-linear-gradient(top, #b3b3b3, #ffffff);
  background: linear-gradient(to bottom, #b3b3b3, #ffffff);
  text-shadow: #ffffff 1px 0px 2px;
  font: normal 12px arial;
  color: #111111;
  text-decoration: none;
  padding-bottom: 3px;
  margin-left:3px;
}
.cancel:hover, .cancel:focus, .save:hover, .save:focus, .continue:hover, .continue:focus, .validate:hover, .validate:focus, .reset:hover, .reset:focus {
    border: 1px solid #ebebeb;
    background: #d7d7d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#d7d7d7), to(#ffffff));
    background: -moz-linear-gradient(top, #d7d7d7, #ffffff);
    background: linear-gradient(to bottom, #d7d7d7, #ffffff);
    color: #111111;
    text-decoration: none;
}
.cancel:active, .save:active, .continue:active, .validate:active, .reset:active {
    background: #6b6b6b;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b6b6b), to(#ffffff));
    background: -moz-linear-gradient(top, #6b6b6b, #ffffff);
    background: linear-gradient(to bottom, #6b6b6b, #ffffff);
}
.cancel:before {
    content:"\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: -2px;
    left: 2px;
    background: url("images/cancel.gif") no-repeat left center transparent;
    background-size: 80% 80%;
}
.save:before {
    content:"\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: -2px;
    left: 2px;
    background: url("images/save.gif") no-repeat left center transparent;
    background-size: 80% 80%;
}

.validate:before {
  content: "\0000a0";
  display: inline-block;
  height: 18px;
  width: 24px;
  line-height: 23px;
  margin: 0 1px 0px -7px;
  position: relative;
  top: 2px;
  left: 5px;
  background: url("images/validate.png") no-repeat left center transparent;
  background-size: 92% 92%;
}

.reset:before {
  content: "\0000a0";
  display: inline-block;
  height: 18px;
  width: 24px;
  line-height: 23px;
  margin: 0 1px 0px -7px;
  position: relative;
  top: 2px;
  left: 5px;
  background: url("images/reset.png") no-repeat left center transparent;
  background-size: 80% 80%;
}

.save:before {
    content:"\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: -2px;
    left: 2px;
    background: url("images/save.gif") no-repeat left center transparent;
    background-size: 80% 80%;
}

.highlight {
    font-weight:bold;
}

.k-state-selected a{
  color:#fff;
}