                                                                                                                 
/*----------------------------------------------------------------------------------------------------*/
/*------------------------------------------ inherit Styles ------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*Plant iT WebPortal*/

#MainContent {                                                                                          
    position:relative;                                                                                  
    overflow:hidden;                                                                                    
    min-height:250px;                                                                                   
}

#viewNavigation {                                                                                       
    overflow:hidden;                                                                                    
}

#viewContent {                                                                                          
    overflow:auto;  
                                                                                       
}

.viewNavigation {                                                                                       
    padding:1.2em;                                                                                      
}

/*Kendo Modification*/

.k-grid-filter.k-state-active {
    /*gesetzter Filter */      
    background-color: #073A73;  
    opacity: 0.25;             
}

.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list>.k-state-selected, .k-list>.k-state-highlight, .k-panel>.k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
    background-color:#073A73;
    border-color:#073A73;    
}

.k-primary:hover {
border-color: #073A73;
background-image:   none,linear-gradient(to bottom,#073A73,#073A73 100%);
}

.k-primary, .k-overflow-container .k-primary {
    border-color:#38608D;                     
    background-image:none, linear-gradient(to bottom, #38608D 0, #38608D 100%)
}

.k-tabstrip-items .k-state-active, .k-panelbar .k-tabstrip-items .k-state-active, .k-ie7 .k-tabstrip-items .k-state-active .k-loading {
    border-color:#073A73;                                                                                                              
}

.k-tabstrip .k-content.k-state-active {
    border-color:#073A73;              
}

.k-grid-content-locked, .k-grid-content, .k-pager-wrap {
    overflow:hidden;                                    
}

.k-grid-header {
    padding-right:0px !important;
    width:100%;                  
}

.k-block, .k-widget, .k-popup, .k-content, .k-toolbar, .k-dropdown .k-input {
    color: #101010;                                                          
}

.k-input, input.k-textbox, textarea.k-textbox, input.k-textbox:hover, textarea.k-textbox:hover, .k-textbox > input, .k-multiselect-wrap {
    box-shadow: inherit;                                                                                                                 
}

.k-primary:focus, .k-primary.k-state-focused, .k-primary:active {                                                                        
    background-color: #E0E0E0;                                                                                                           
    background-image: none;                                                                                                              
    color: black;                                                                                                                        
    border-color:#E0E0E0;                                                                                                                
}

.k-button:active, .k-button.k-state-active {                                                                                             
    background-color: #E0E0E0;                                                                                                           
    background-image: none;                                                                                                              
    color: black;                                                                                                                        
    border-color:#E0E0E0;                                                                                                                
}

.k-button:focus:active:not(.k-state-disabled):not([disabled]) {                                                                          
    box-shadow: none;                                                                                                                    
}

.k-button:active:hover, .k-button.k-state-active:hover {                                                                                 
    border:none;                                                                                                                         
    background-color:#E0E0E0;                                                                                                            
}

.k-button:focus {                                                                                                                        
    outline:0;                                                                                                                           
}

.k-primary:focus:active:not(.k-state-disabled):not([disabled]), .k-primary:focus:not(.k-state-disabled):not([disabled]) {                
    box-shadow:none;                                                                                                                     
}

.k-state-focused.k-state-selected, .k-list>.k-state-focused.k-state-selected, .k-listview>.k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
    -webkit-box-shadow:none;                                                                                                                                      
    box-shadow:none;                                                                                                                                              
}

.k-icon {                                                                    
    outline:none;                                                            
}

colgroupp {
    display: table-column-group;
}

/*----------------------------------------------------------------------------------------------------*/

/*--------------------------------------- page related styles ----------------------------------------*/

/*----------------------------------------------------------------------------------------------------*/

/*Navigation*/

.navigationBar {                 
    padding-left: 4%;            
    height: 60px;                
    border-bottom: 3px solid #073A73;
    width: 100%;                     
}

.navigationBar-left {                
    text-align: left;                
}

.navigationBar-right {               
    text-align: right;               
}

#NavigationBar-left>li, #NavigationBar-right>li {
    display:inline-block;
    vertical-align:top;
    text-align: center;
}
.highlight {
    font-weight:bold;
}
/*Textarea*/
 .textarea-gridComment {
    width:100%;
    height:100px;
}

 /*Buttons*/
.reset:before {
  content: "\0000a0";
  display: inline-block;
  height: 18px;
  width: 24px;
  line-height: 23px;
  margin: 0 1px 0px -7px;
  position: relative;
  top: 2px;
  left: 5px;
  background: url("images/reset.png") no-repeat left center transparent;
  background-size: 80% 80%;
}     

.k-datetimepicker .k-picker-wrap .k-icon {
    margin: 3px 2px;
}

.k-combobox .k-icon, .k-dropdown, .k-selectbox .k-icon  {
    margin-top:4px;
}

.excelClass:before {
  content: "\0000a0";
  display: inline-block;
  height: 18px;
  width: 24px;
  line-height: 23px;
  margin: 0 1px 0px -7px;
  position: relative;
  top: 2px;
  left: 5px;
  background: url("images/excel.png") no-repeat left center transparent;
  background-size: 80% 80%;
}    