                                                                                                                 
/*----------------------------------------------------------------------------------------------------*/
/*------------------------------------------ inherit Styles ------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*Plant iT WebPortal*/

#MainContent {                                                                                          
    position:relative;                                                                                  
    overflow:hidden;                                                                                    
    min-height:250px;                                                                                   
}

#viewNavigation {                                                                                       
    overflow:hidden;                                                                                    
}

#viewContent {                                                                                          
    overflow:auto;     
                                                                           
}

.viewNavigation {                                                                                       
    padding:1.2em;                                                                                      
}

/*Kendo Modification*/

.k-grid-filter.k-state-active {
    /*gesetzter Filter */      
    background-color: #073A73;  
    opacity: 0.25;             
}

.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list>.k-state-selected, .k-list>.k-state-highlight, .k-panel>.k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
    background-color:#073A73;
    border-color:#073A73;    
}

.k-primary:hover {
border-color: #073A73;
background-image:   none,linear-gradient(to bottom,#073A73,#073A73 100%);
}

.k-primary, .k-overflow-container .k-primary {
    border-color:#38608D;                     
    background-image:none, linear-gradient(to bottom, #38608D 0, #38608D 100%)
}

.k-tabstrip-items .k-state-active, .k-panelbar .k-tabstrip-items .k-state-active, .k-ie7 .k-tabstrip-items .k-state-active .k-loading {
    border-color:#073A73;                                                                                                              
}

.k-tabstrip .k-content.k-state-active {
    border-color:#073A73;              
}

.k-grid-content-locked, .k-grid-content, .k-pager-wrap {
    overflow:hidden;                                    
}

.k-grid-header {
    padding-right:0px !important;
    width:100%;                  
}

.k-block, .k-widget, .k-popup, .k-content, .k-toolbar, .k-dropdown .k-input {
    color: #101010;                                                          
}

.k-input, input.k-textbox, textarea.k-textbox, input.k-textbox:hover, textarea.k-textbox:hover, .k-textbox > input, .k-multiselect-wrap {
    box-shadow: inherit;                                                                                                                 
}

.k-primary:focus, .k-primary.k-state-focused, .k-primary:active {                                                                        
    background-color: #E0E0E0;                                                                                                           
    background-image: none;                                                                                                              
    color: black;                                                                                                                        
    border-color:#E0E0E0;                                                                                                                
}

.k-button:active, .k-button.k-state-active {                                                                                             
    background-color: #E0E0E0;                                                                                                           
    background-image: none;                                                                                                              
    color: black;                                                                                                                        
    border-color:#E0E0E0;                                                                                                                
}

.k-button:focus:active:not(.k-state-disabled):not([disabled]) {                                                                          
    box-shadow: none;                                                                                                                    
}

.k-button:active:hover, .k-button.k-state-active:hover {                                                                                 
    border:none;                                                                                                                         
    background-color:#E0E0E0;                                                                                                            
}

.k-button:focus {                                                                                                                        
    outline:0;                                                                                                                           
}

.k-primary:focus:active:not(.k-state-disabled):not([disabled]), .k-primary:focus:not(.k-state-disabled):not([disabled]) {                
    box-shadow:none;                                                                                                                     
}

.k-state-focused.k-state-selected, .k-list>.k-state-focused.k-state-selected, .k-listview>.k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
    -webkit-box-shadow:none;                                                                                                                                      
    box-shadow:none;                                                                                                                                              
}

.k-icon {                                                                    
    outline:none;                                                            
}

colgroupp {
    display: table-column-group;
}

/*----------------------------------------------------------------------------------------------------*/

/*--------------------------------------- page related styles ----------------------------------------*/

/*----------------------------------------------------------------------------------------------------*/

/*Navigation*/

.navigationBar {                 
    padding-left: 4%;            
    height: 60px;                
    border-bottom: 3px solid #073A73;
    width: 100%;                     
}

.navigationBar-left {                
    text-align: left;                
}

.navigationBar-right {               
    text-align: right;               
}

#NavigationBar-left>li, #NavigationBar-right>li {
    display:inline-block;
    vertical-align:top;
    text-align: center;
}
.highlight {
    font-weight:bold;
}
/*Textarea*/
 .textarea-gridComment {
    width:100%;
    height:100px;
}

 /*Buttons*/
 .cancel, .save, .continue, .validate, .disable, .manualOk, .reset{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 3px 11px;
    border: 1px solid #a5a5a5;
    border-radius: 11px;
    background: #b3b3b3;
    background: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#ffffff));
    background: -moz-linear-gradient(top, #b3b3b3, #ffffff);
    background: linear-gradient(to bottom, #b3b3b3, #ffffff);
    text-shadow: #ffffff 1px 0px 2px;
    font: normal 15px arial;
    color: #111111;
    text-decoration: none;
    padding-bottom: 4px;
}

 .validate, .manualOk, .reset {    
    height: 24px;
    font: 10px arial;
    padding: 0px 0px 3px;
}

.cancel:hover, .cancel:focus, .save:hover, .save:focus, .continue:hover, .continue:focus, .validate:hover, .validate:focus, .manualOk:hover, .manualOk:focus, reset:hover, reset:focus {
    border: 1px solid #ebebeb;
    background: #d7d7d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#d7d7d7), to(#ffffff));
    background: -moz-linear-gradient(top, #d7d7d7, #ffffff);
    background: linear-gradient(to bottom, #d7d7d7, #ffffff);
    color: #111111;
    text-decoration: none;
}
.cancel:active, .save:active, .continue:active{
    background: #6b6b6b;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b6b6b), to(#ffffff));
    background: -moz-linear-gradient(top, #6b6b6b, #ffffff);
    background: linear-gradient(to bottom, #6b6b6b, #ffffff);
    outline: none;
}
.cancel:before, .save:before, .validate:before, .manualOk:before, .reset:before  {
    content:"\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: -2px;
    left: 3px;
    background: url("images/cancel.gif") no-repeat left center transparent;
    background-size: 80% 80%;
}
.save:before {
    background: url("images/save.gif") no-repeat left center transparent;
    background-size: 80% 80%;
}

.validate:before,.manualOk:before,.reset:before {
    background: transparent url("images/validate.png") no-repeat scroll left center / 65% 65%;
    top: 0px;
    left: 11px;
    margin-left: -22px;
}

.manualOk:before {
    background: url("images/hand.png") no-repeat left center transparent;
    background-size: 65% 65%;
}

.reset:before {
    background: url("images/reset.png") no-repeat left center transparent;
    background-size: 60% 60%;
    top: -1px;
    left: 6px;
}

.k-state-selected a{
  color:#fff;
}


.gridCellOutOfSpec {
  background-color:yellow;
    color: black;
}
.gridCellOutOfSpecVeto {
  background-color:#FF0000;
  color: white;
}

.gridCellInsideBorder {
    background-color:white;
    color: black;
}

 .k-state-selected .gridCellInsideBorder{
    background-color:#285485;
    color: white;
}

.k-state-selected .k-group-cell {
    background: #E7e7e7;
}

.k-grid .k-button {
    margin: 1px 0;
}

.k-grid tbody button.k-button {
    width: 87px;
    padding-left: 9px;
    top: 20%;
}

input.ng-pristine.ng-untouched.ng-valid {
    position: relative;
    top: 2px;
    margin-left: 7px;
}

input.ng-valid.ng-dirty.ng-valid-parse.ng-touched {
    position: relative;
    top: 2px;
    margin-left: 7px;
}

.ng-valid ng-dirty ng-valid-parse ng-touched {
    position: relative;
    top: 2px;
    margin-left: 7px;
}

.excelClass
{
background: url("images/excel.png") no-repeat left center transparent;
background-size: 18px 18px;
background-repeat: no-repeat;
background-position: right; 
}


a#excel {
  background-image: url("images/excel.png") no-repeat left center transparent;
  display: block;
  width: 18px;
  height: 18px;
}


span.k-icon.k-i-calendar {
    position: relative;
    top: 0px;
}

span.k-icon.k-i-clock {
    position: relative;
    top: 0px;
}

span.k-icon.k-i-seek-w {
    position: relative;
    top: 0px;
}

span.k-icon.k-i-arrow-w {
    position: relative;
    top: 0px;
}

span.k-icon.k-i-arrow-e {
    position: relative;
    top: 0px;
}

span.k-icon.k-i-seek-e {
    position: relative;
    top: 0px;
}

span.k-icon.k-i-arrow-s {
    position: relative;
    top: 0px;
}

.k-tabstrip>.k-content, .k-panelbar .k-tabstrip>.k-content {
    margin: 0;
}

button.k-button.k-primary {
    color:white;
}

#modalDialogAutomaticRefreshDelayElapsedTemplatePage{
    width:295px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    width:26%;
}

.k-grid.k-widget{
   min-width:1478px;
}

form.k-filter-menu.k-popup.k-group.k-reset.k-state-border-up {
    margin-left: -26px;
}

form.k-filter-menu.k-popup.k-group.k-reset.k-state-border-up {
    width: 90%;
    margin-left: -39%;
}

.ngdialog-buttons.mt.autorefreshstopped {
    width: 500px;
}

.gridCellStatusOK {
  background-color:lightgreen;
  color: black;
}

.k-grid .k-header .k-button, .k-scheduler .k-header .k-button, .k-scheduler .k-header li, .k-scheduler .k-header .k-link, .k-gantt > .k-header li, .k-gantt > .k-header .k-link, .k-gantt-toolbar .k-button {
    width: 117px;
    color: black;
    background-color: #EDEDED;
    border-color: #B7B7B7;
    box-shadow: none;
}

.k-grid .k-header .k-button:hover, .k-scheduler .k-header .k-button:hover, .k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover, .k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover .k-link, .k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover, .k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover .k-link, .k-gantt .k-gantt-toolbar .k-button:hover {
    background-color: #EEEEEE;
    border-color: grey;
}
.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;             
  border: 1px solid #E8E8E8;
  border-radius: 7px;
  position:relative;
  float:left;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#CCCCCC));
  background: -moz-linear-gradient(top, #e8e8e8, #CCCCCC);
  background: linear-gradient(to bottom, #e8e8e8, #CCCCCC);
  color: #111111;
}
.button:hover,.button-save:focus{
  border: 1px solid #E8E8E8;
  background: -webkit-gradient(linear, left top, left bottom, from(#AAAAAA), to(#c2c2c2));
  background: -moz-linear-gradient(top, #AAAAAA, #c2c2c2);
  background: linear-gradient(to bottom, #AAAAAA, #c2c2c2);
  color: #111111;
}
.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#a2a2a2), to(#a2a2a2));
  background: -moz-linear-gradient(top, #a2a2a2, #a2a2a2);
  background: linear-gradient(to bottom, #a2a2a2, #a2a2a2);
}

.button:before{
  content:  "\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0";
  display: inline-block;      
}

.button-small{                             
  padding:3px;
  min-width:25px;
}

.button-delete:before{                             
  background: url("images/delete.gif") no-repeat center transparent;   
  background-repeat:no-repeat;  
  background-size: 80% 80%;
}

.button-small.button-delete.button.k-button {
    margin-left: 50%;
    width: 34px;
    padding: 0;
}

.k-grid tbody button.k-button {
    min-width:1px;
}



.k-grid tbody .k-button {
        min-width:1px;
} 

.k-ie8 .k-grid tbody button.k-button {
        min-width:1px;
}

#smallReset {
    position: relative;
    margin-top: -15%;
    margin-left: 81%;
    padding-top: 7px;
}


#smallResetPP {
margin-top: -22%;
margin-left: 89%;
padding-bottom: 10px;
}






